---
const { formId } = Astro.props;
---

<div id="convertkit-form-container"></div>

<script client:load>
  const container = document.getElementById('convertkit-form-container');
  container.innerHTML = `
    <script async data-uid="${formId}" src="https://f.convertkit.com/${formId}/f31846715d/index.js">
    </script>
  `;
</script>
